.logo_img{
    margin-left: 48px;
}
.todo_add_button{
    width: 100px;
    border: none;
    background-color: #2BACE2;
    color: white;
}
.create_button{
    width: 300px;
    height: 44px;
    border: none;
    background-color: #2BACE2;
    color: white;
    border-radius: 2px;
}
.sign_in_button{
    width: 100%;
    height: 44px;
    border: none;
    background-color: #2BACE2;
    color: white;
    border-radius: 2px;
}
.main_head_button{
    background-color: #2BACE2;
    padding: 12px 50px;
    text-decoration: none !important;
    color: white;
    border-radius: 4px;
}
.create_user_button{
    background-color: #2BACE2;
    padding: 12px 79px !important;
    text-decoration: none !important;
    color: white;
    border-radius: 4px;
}
.main_head_button:hover{
    color:black;
}
.user_image_size{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.upload_button{
    width: 300px;
    height: 46px;
    border: none;
    background-color: #2BACE2;
    color: white;
    border-radius: 2px;
}
.message_header{
    margin-left: auto;
    margin-right: auto;
}
.show_image{
    width: 200px;
    height: 179px;
}
.card_body_margin{
    margin-top: -32px;
}
.reply_button{
    background-color: #2BACE2;
    border:none;
    padding: 12px 50px;
    text-decoration: none !important;
    color: white;
    border-radius: 4px;
}


.item {
    padding: 1rem 2rem;
    margin: 3rem auto 2rem;
    max-width: 400px;
    position: relative;
}
.item::before {
    content: '';
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
}
.item::after {
    content: '';
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: 0;
}
.edit_image{
    width:70px;
}
.edit_image_margin{
    margin-left: 27%;
    margin-bottom: 2%;
}
.submit_button{
    cursor: pointer;
}
.card .card-body_two {
    /*border: 1px solid #808080;*/
    padding: 2.5rem 2.5rem;
}
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white !important;
}
.plus_button,.minus_button{
    margin-top: 26px;
}
.minus_button{
    margin-left: 3px;
}
.minus_button_two{
    margin-top: 23px;
    margin-left: 9px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "??";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#create_user_button{
    display:none;
}
.form-group{
    display:block;
}
.dropdown-item:hover{
    color: #007bff !important;
}
.eye{
    padding-top: 12px !important;
}
.product_image{
    width:50px;
}

